
.cardComent{
    background: #141414;
    border-radius: 6px;
    border: 0; /*Sin bordes*/
    color: #d4d4d4;
    font-family: monospace;
    font-size: 12px;
    padding: 8px; /*Espacio entre cada uno de los elementos, hacia abajo*/
    resize: none; /*Hace que no se pueda modificar el area de texto, su tamanio*/
    width: 100%; /*100 del ancho*/
    /* field-sizing: content; Permite escribir y que este siga hacia abajo */
}

.cases{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.case {
    background: #2a2a2a;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      padding: 8px;
      align-items: center;

      .cardEmoji {
        border-radius: 50%;
        background: #141414;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgba(255, 255, 255, .7);
      }

      .cardName {
        opacity: .5;
        font-size: 9px;
      }
    }

    .cardComent {
      border-radius: 0 0 6px 6px;
    }
  }